@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer components {
  .input-label {
    @apply text-[#73879C] font-medium text-lg;
  }
  .button {
    @apply px-10 py-2 font-bold;
  }
  .errors {
    @apply text-red-600 font-medium text-sm;
  }
  .title {
    @apply text-black font-bold text-2xl;
  }
  .view-button {
    @apply font-bold text-lg text-white flex mx-auto items-center gap-x-2 rounded p-2;
  }
  .view-button-tile {
    @apply font-bold text-lg text-white rounded p-2;
  }
}
#authentication-text {
  position: relative;
}
#authentication-text:after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #73879c;
  width: 826px;
  margin-left: 1rem;
  top: 50%;
}
.ant-modal-header {
  background: #83889c !important;
  height: 100%;
}
